<app-toaster-container></app-toaster-container>

<form [formGroup]="recetteForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">

                <!-- Ingrédients -->
                <div class="col-md-12 mb-4">
                    <div class="card bg-secondary">
                        <div class="card-header">
                            <h2>Ingrédients</h2>
                        </div>
                        <div class="card-body">


                            <div formArrayName="ingredients">
                                <div *ngFor="let ingredient of ingredients.controls; let i=index">
                                    <div class="form-row mb-3" [formGroupName]="i">

                                        <label for="ingredient{{i}}" class="sr-only">Ingrédient</label>
                                        <select (change)="onIngrSelect($event, i)" class="form-control col-5 mr-2"
                                            id="ingredient{{i}}" formControlName="id" required 
                                            [class.is-invalid]="ingredients.controls[i]['controls']['id'].invalid && ingredients.controls[i]['controls']['id'].touched">
                                            <option *ngFor="let ingr of listeIngredients" value="{{ingr.id}}"
                                                [attr.data-unite]="ingr.unite">{{ ingr.nom }}</option>
                                        </select>

                                        <label for="quantite{{i}}" class="sr-only">Quantité</label>
                                        <input type="number" id="quantite{{i}}" class="form-control col mr-1"
                                            formControlName="quantite" required
                                            [class.is-invalid]="ingredients.controls[i]['controls']['quantite'].invalid && ingredients.controls[i]['controls']['quantite'].touched">

                                        <label for="unite{{i}}" class="sr-only">Unité de mesure</label>
                                        <input type="text" class="form-control-plaintext text-white input-unite ml-1"
                                            id="unite{{i}}" formControlName="unite" readonly>

                                        <button (click)="supprIngredient(i)" class="btn text-warning supprLigne"
                                            type="button">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Supprimer ingrédient</span>
                                        </button>

                                    </div>
                                </div>

                                <button (click)="addIngredient()" type="button"
                                    class="btn btn-block btn-outline-primary">+</button>
                            </div>


                        </div>
                    </div>
                </div>


                <!-- Ustensiles -->
                <div class="col-md-12 mb-4">
                    <div class="card bg-secondary">
                        <div class="card-header">
                            <h2>Ustensiles</h2>
                        </div>
                        <div class="card-body">


                            <div formArrayName="ustensiles">
                                <div *ngFor="let ustensile of ustensiles.controls; let i=index">
                                    <div class="form-row mb-3">
                                        
                                        <label for="ustensile{{i}}" class="sr-only">Ustensile</label>
                                        <select class="form-control col mr-1" [formControlName]="i" id="ustensile{{i}}" required
                                            [class.is-invalid]="ustensiles.controls[i].invalid && ustensiles.controls[i].touched">
                                            <option *ngFor="let ust of listeUstensiles" value={{ust.id}}>{{ ust.nom }}
                                            </option>
                                        </select>

                                        <button (click)="supprUstensile(i)" class="btn text-warning supprLigne"
                                            type="button">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Supprimer ustensile</span>
                                        </button>
                                    </div>
                                </div>

                                <button (click)="addUstensiles()" type="button"
                                    class="btn btn-block btn-outline-primary">+</button>
                            </div>


                        </div>
                    </div>
                </div>


                <!-- AJOUT NOUVEAUX -->
                <app-creation-ingr-ust [listeIngredients]="listeIngredients" [listeUstensiles]="listeUstensiles"
                    (ajoutEvent)="getIngrUst()" class="col-md-12 no-gutters"></app-creation-ingr-ust>

            </div>
        </div>


        <!-- Recette -->
        <div class="col-lg-9">
            <div class="card bg-secondary">

                <div class="card-header form-group">
                    <button *ngIf="recetteEdit" (click)="annulerEdit()" class="btn float-right" type="button"><img
                            src="../../assets/icon/cancel.png" alt="annuler"></button>
                    <div class="row align-items-center">

                        <div class="col-md-3 mb-4">
                            <div class="custom-file">
                                <input (change)="onFileSelect($event)" type="file" class="custom-file-input"
                                    id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <img src="{{apercuPhoto}}" alt="">
                        </div>

                        <div class="col-md">
                            <label class="sr-only" for="titre">Titre</label>
                            <input type="text" class="form-control mb-4" placeholder="Titre" formControlName="titre" id="titre"
                                required
                                [class.is-invalid]="recetteForm.controls.titre.invalid && recetteForm.controls.titre.touched">

                            <div class="row align-items-center mt-1">
                                <div class="col-md mb-4">
                                    <div class="form-row mb-2">
                                        <label for="tmpPrepa" class="col-md-4">Préparation : </label>
                                        <input type="time" class="form-control col" id="tmpPrepa"
                                            formControlName="tempsPreparation" required
                                            [class.is-invalid]="recetteForm.controls.tempsPreparation.invalid && recetteForm.controls.tempsPreparation.touched">
                                    </div>
                                    <div class="form-row">
                                        <label for="tmpCuis" class="col-md-4">Cuisson : </label>
                                        <input type="time" class="form-control col" id="tmpCuis"
                                            formControlName="tempsCuisson">
                                        <input type="number" class="form-control col" id="temperature" step="10"
                                            formControlName="temperatureCuisson">
                                        <label for="temperature">°c</label>
                                    </div>
                                </div>

                                <fieldset class="col-md mb-4">
                                    <legend>Categorie</legend>
                                    <div class="row">
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="sucre"
                                                    id="sucre1" value="1" formControlName="sucre">
                                                <label class="custom-control-label" for="sucre1">Sucré</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="sucre"
                                                    id="sucre0" value="0" formControlName="sucre">
                                                <label class="custom-control-label" for="sucre0">Salé</label>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chaud"
                                                    id="chaud1" value="1" formControlName="chaud">
                                                <label class="custom-control-label" for="chaud1">Chaud</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chaud"
                                                    id="chaud0" value="0" formControlName="chaud">
                                                <label class="custom-control-label" for="chaud0">Froid</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body">

                    <div formArrayName="etapes">
                        <div *ngFor="let etape of etapes.controls; let i=index">
                            <label for="etape{{i}}">
                                <h3>Etape {{ i+1 }}</h3>
                            </label>
                            <div class="form-row mb-3">
                                <textarea id="etape{{i}}" class="form-control col mr-3" [formControlName]="i" required
                                    [class.is-invalid]="etapes.controls[i].invalid && etapes.controls[i].touched"></textarea>
                                <button (click)="supprEtape(i)" type="button" class="btn text-warning supprLigne">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Supprimer étape</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <button (click)="addEtape()" type="button" class="btn btn-block btn-outline-primary">+</button>

                </div>


            </div>
        </div>

    </div>

    <div class="row">
        <button *ngIf="recetteEdit" type="button" class="btn btn-danger  btn-lg btn-block  col-md-2   mt-5 "
            data-toggle="modal" data-target="#exampleModal">Supprimer</button>

        <button [disabled]="!recetteForm.valid || recetteForm.pristine" type="submit"
            class="btn btn-primary  btn-lg btn-block  offset-md-2 col-md-8   mt-5 ">Valider</button>
    </div>

</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button (click)="supprimerRecette()" type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>