<footer class="text-center mt-4 mb-2 footer">
    <section class="pt-2 pb-2">
        <div>
            Site fait par Lorie B.
        </div>

        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Icones
            </button>

            <div class="dropdown-menu bg-secondary text-white" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <div>
                        <img src="../../assets/icon/recipes.png" alt="Livre de recettes">
                        Icons made by Freepik
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">
                    <div>
                        <img src="../../assets/icon/dice.png" alt="Planche a découper avec un couteau et une carotte">
                        Icons made by ultimatearm
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">
                    <div>
                        <img src="../../assets/icon/timer.png" alt="Marmitte sur le feu avec un timer">
                        Icons made by ultimatearm
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">
                    <div>
                        <img src="../../assets/photos/spaguetti.png" alt="Assiette de spaguetti">
                        Icons made by Smashicons
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <div>
                        <img src="../../assets/photos/cake.png" alt="Part de gâteau">
                        Icons made by Freepik
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
                    <div>
                        <img src="../../assets/icon/edit.png" alt="Icone édition">
                        Icons made by Pixel perfect
                    </div>
                </a>
                <a class="dropdown-item" href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
                    <div>
                        <img src="../../assets/icon/cancel.png" alt="Icone annuler édition">
                        Icons made by Pixel perfect
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.flaticon.com/" title="Flaticon">
                    From www.flaticon.com
                </a>
            </div>

        </div>



    </section>
</footer>